In [1]:
import os
import pandas as pd

In [2]:
BASE_DIR = os.getcwd()
# BASE_DIR
file_path = os.path.join(BASE_DIR,"..","data","daily_sales_data_2.csv")
df = pd.read_csv(file_path)
df.head(5)

       product  price  quantity        date region
0  pink morsel  $3.00       526  2020-10-13  north
1  pink morsel  $3.00       546  2020-10-13  south
2  pink morsel  $3.00       505  2020-10-13   east
3  pink morsel  $3.00       561  2020-10-13   west
4  gold morsel  $9.99       553  2020-10-13  north

In [3]:
pink_morsel_sales = df.query("product == 'pink morsel'").copy()
pink_morsel_sales

           product  price  quantity        date region
0      pink morsel  $3.00       526  2020-10-13  north
1      pink morsel  $3.00       546  2020-10-13  south
2      pink morsel  $3.00       505  2020-10-13   east
3      pink morsel  $3.00       561  2020-10-13   west
28     pink morsel  $3.00       560  2020-10-14  north
...            ...    ...       ...         ...    ...
13667  pink morsel  $5.00       478  2022-02-13   west
13692  pink morsel  $5.00       407  2022-02-14  north
13693  pink morsel  $5.00       493  2022-02-14  south
13694  pink morsel  $5.00       500  2022-02-14   east
13695  pink morsel  $5.00       423  2022-02-14   west

[1960 rows x 5 columns]

In [4]:
pink_morsel_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1960 entries, 0 to 13695
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   product   1960 non-null   object
 1   price     1960 non-null   object
 2   quantity  1960 non-null   int64
 3   date      1960 non-null   object
 4   region    1960 non-null   object
dtypes: int64(1), object(4)
memory usage: 91.9+ KB

In [5]:
pink_morsel_sales.dropna()

           product  price  quantity        date region
0      pink morsel  $3.00       526  2020-10-13  north
1      pink morsel  $3.00       546  2020-10-13  south
2      pink morsel  $3.00       505  2020-10-13   east
3      pink morsel  $3.00       561  2020-10-13   west
28     pink morsel  $3.00       560  2020-10-14  north
...            ...    ...       ...         ...    ...
13667  pink morsel  $5.00       478  2022-02-13   west
13692  pink morsel  $5.00       407  2022-02-14  north
13693  pink morsel  $5.00       493  2022-02-14  south
13694  pink morsel  $5.00       500  2022-02-14   east
13695  pink morsel  $5.00       423  2022-02-14   west

[1960 rows x 5 columns]

In [6]:
pink_morsel_sales["price"] = pink_morsel_sales["price"].astype("str")
pink_morsel_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1960 entries, 0 to 13695
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   product   1960 non-null   object
 1   price     1960 non-null   object
 2   quantity  1960 non-null   int64
 3   date      1960 non-null   object
 4   region    1960 non-null   object
dtypes: int64(1), object(4)
memory usage: 91.9+ KB

In [7]:
pink_morsel_sales["price"] = pink_morsel_sales["price"].str.replace('$','',regex=False).astype("float")

In [8]:
pink_morsel_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1960 entries, 0 to 13695
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   product   1960 non-null   object
 1   price     1960 non-null   float64
 2   quantity  1960 non-null   int64
 3   date      1960 non-null   object
 4   region    1960 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 91.9+ KB

In [9]:
pink_morsel_sales

           product  price  quantity        date region
0      pink morsel    3.0       526  2020-10-13  north
1      pink morsel    3.0       546  2020-10-13  south
2      pink morsel    3.0       505  2020-10-13   east
3      pink morsel    3.0       561  2020-10-13   west
28     pink morsel    3.0       560  2020-10-14  north
...            ...    ...       ...         ...    ...
13667  pink morsel    5.0       478  2022-02-13   west
13692  pink morsel    5.0       407  2022-02-14  north
13693  pink morsel    5.0       493  2022-02-14  south
13694  pink morsel    5.0       500  2022-02-14   east
13695  pink morsel    5.0       423  2022-02-14   west

[1960 rows x 5 columns]

In [10]:
pink_morsel_sales['sales'] = pink_morsel_sales.eval('price * quantity')
pink_morsel_sales

           product  price  quantity        date region   sales
0      pink morsel    3.0       526  2020-10-13  north  1578.0
1      pink morsel    3.0       546  2020-10-13  south  1638.0
2      pink morsel    3.0       505  2020-10-13   east  1515.0
3      pink morsel    3.0       561  2020-10-13   west  1683.0
28     pink morsel    3.0       560  2020-10-14  north  1680.0
...            ...    ...       ...         ...    ...     ...
13667  pink morsel    5.0       478  2022-02-13   west  2390.0
13692  pink morsel    5.0       407  2022-02-14  north  2035.0
13693  pink morsel    5.0       493  2022-02-14  south  2465.0
13694  pink morsel    5.0       500  2022-02-14   east  2500.0
13695  pink morsel    5.0       423  2022-02-14   west  2115.0

[1960 rows x 6 columns]

In [11]:
pink_morsel_sales = pink_morsel_sales[['sales','date','region']]

In [12]:
pink_morsel_sales

        sales        date region
0      1578.0  2020-10-13  north
1      1638.0  2020-10-13  south
2      1515.0  2020-10-13   east
3      1683.0  2020-10-13   west
28     1680.0  2020-10-14  north
...       ...         ...    ...
13667  2390.0  2022-02-13   west
13692  2035.0  2022-02-14  north
13693  2465.0  2022-02-14  south
13694  2500.0  2022-02-14   east
13695  2115.0  2022-02-14   west

[1960 rows x 3 columns]

In [14]:
pink_morsel_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1960 entries, 0 to 13695
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sales   1960 non-null   float64
 1   date    1960 non-null   object
 2   region  1960 non-null   object
dtypes: float64(1), object(2)
memory usage: 61.2+ KB

In [13]:
file_path = os.path.join(BASE_DIR,"..","data","daily_sales_data_2_modified.csv")
pink_morsel_sales.to_csv(file_path,index=False)