In [1]:
import os
import pandas as pd

In [6]:
BASE_DIR = os.getcwd()
# BASE_DIR
file_path = os.path.join(BASE_DIR,"..","data","daily_sales_data_0.csv")
df = pd.read_csv(file_path)
df.head(5)

       product  price  quantity        date region
0  pink morsel  $3.00       546  2018-02-06  north
1  pink morsel  $3.00       549  2018-02-06  south
2  pink morsel  $3.00       577  2018-02-06   east
3  pink morsel  $3.00       519  2018-02-06   west
4  gold morsel  $9.99       580  2018-02-06  north

In [23]:
pink_morsel_sales = df.query("product == 'pink morsel'").copy()
pink_morsel_sales

           product  price  quantity        date region
0      pink morsel  $3.00       546  2018-02-06  north
1      pink morsel  $3.00       549  2018-02-06  south
2      pink morsel  $3.00       577  2018-02-06   east
3      pink morsel  $3.00       519  2018-02-06   west
28     pink morsel  $3.00       529  2018-02-07  north
...            ...    ...       ...         ...    ...
13667  pink morsel  $3.00       599  2019-06-09   west
13692  pink morsel  $3.00       566  2019-06-10  north
13693  pink morsel  $3.00       563  2019-06-10  south
13694  pink morsel  $3.00       541  2019-06-10   east
13695  pink morsel  $3.00       589  2019-06-10   west

[1960 rows x 5 columns]

In [24]:
pink_morsel_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1960 entries, 0 to 13695
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   product   1960 non-null   object
 1   price     1960 non-null   object
 2   quantity  1960 non-null   int64
 3   date      1960 non-null   object
 4   region    1960 non-null   object
dtypes: int64(1), object(4)
memory usage: 91.9+ KB

In [37]:
pink_morsel_sales.dropna()

           product  price  quantity        date region
0      pink morsel    3.0       546  2018-02-06  north
1      pink morsel    3.0       549  2018-02-06  south
2      pink morsel    3.0       577  2018-02-06   east
3      pink morsel    3.0       519  2018-02-06   west
28     pink morsel    3.0       529  2018-02-07  north
...            ...    ...       ...         ...    ...
13667  pink morsel    3.0       599  2019-06-09   west
13692  pink morsel    3.0       566  2019-06-10  north
13693  pink morsel    3.0       563  2019-06-10  south
13694  pink morsel    3.0       541  2019-06-10   east
13695  pink morsel    3.0       589  2019-06-10   west

[1960 rows x 5 columns]

In [40]:
pink_morsel_sales["price"] = pink_morsel_sales["price"].astype("str")
pink_morsel_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1960 entries, 0 to 13695
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   product   1960 non-null   object
 1   price     1960 non-null   object
 2   quantity  1960 non-null   int64
 3   date      1960 non-null   object
 4   region    1960 non-null   object
dtypes: int64(1), object(4)
memory usage: 91.9+ KB

In [41]:
pink_morsel_sales["price"] = pink_morsel_sales["price"].str.replace('$','',regex=False).astype("float")

In [42]:
pink_morsel_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1960 entries, 0 to 13695
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   product   1960 non-null   object
 1   price     1960 non-null   float64
 2   quantity  1960 non-null   int64
 3   date      1960 non-null   object
 4   region    1960 non-null   object
dtypes: float64(1), int64(1), object(3)
memory usage: 91.9+ KB

In [43]:
pink_morsel_sales

           product  price  quantity        date region
0      pink morsel    3.0       546  2018-02-06  north
1      pink morsel    3.0       549  2018-02-06  south
2      pink morsel    3.0       577  2018-02-06   east
3      pink morsel    3.0       519  2018-02-06   west
28     pink morsel    3.0       529  2018-02-07  north
...            ...    ...       ...         ...    ...
13667  pink morsel    3.0       599  2019-06-09   west
13692  pink morsel    3.0       566  2019-06-10  north
13693  pink morsel    3.0       563  2019-06-10  south
13694  pink morsel    3.0       541  2019-06-10   east
13695  pink morsel    3.0       589  2019-06-10   west

[1960 rows x 5 columns]

In [47]:
pink_morsel_sales['sales'] = pink_morsel_sales.eval('price * quantity')
pink_morsel_sales

           product  price  quantity        date region   sales
0      pink morsel    3.0       546  2018-02-06  north  1638.0
1      pink morsel    3.0       549  2018-02-06  south  1647.0
2      pink morsel    3.0       577  2018-02-06   east  1731.0
3      pink morsel    3.0       519  2018-02-06   west  1557.0
28     pink morsel    3.0       529  2018-02-07  north  1587.0
...            ...    ...       ...         ...    ...     ...
13667  pink morsel    3.0       599  2019-06-09   west  1797.0
13692  pink morsel    3.0       566  2019-06-10  north  1698.0
13693  pink morsel    3.0       563  2019-06-10  south  1689.0
13694  pink morsel    3.0       541  2019-06-10   east  1623.0
13695  pink morsel    3.0       589  2019-06-10   west  1767.0

[1960 rows x 6 columns]

In [48]:
pink_morsel_sales = pink_morsel_sales[['sales','date','region']]

In [49]:
pink_morsel_sales

        sales        date region
0      1638.0  2018-02-06  north
1      1647.0  2018-02-06  south
2      1731.0  2018-02-06   east
3      1557.0  2018-02-06   west
28     1587.0  2018-02-07  north
...       ...         ...    ...
13667  1797.0  2019-06-09   west
13692  1698.0  2019-06-10  north
13693  1689.0  2019-06-10  south
13694  1623.0  2019-06-10   east
13695  1767.0  2019-06-10   west

[1960 rows x 3 columns]

In [52]:
pink_morsel_sales.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1960 entries, 0 to 13695
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   sales   1960 non-null   float64
 1   date    1960 non-null   object
 2   region  1960 non-null   object
dtypes: float64(1), object(2)
memory usage: 61.2+ KB

In [51]:
file_path = os.path.join(BASE_DIR,"..","data","daily_sales_data_0_modified.csv")
pink_morsel_sales.to_csv(file_path,index=False)